In [8]:
import stringx
import pandas as pd

In [9]:
SPECIES = 7227  # Drosophila melanogaster

In [10]:
identifiers = [
    "edin",
    "AttD",
    "DptA",
    "vago",
]

Query STRING DB to disambiguate our identifiers.

In [11]:
json_response = stringx.map(identifiers, SPECIES)

identifiers_df = pd.DataFrame(json_response)

identifiers_df[["preferredName", "stringId"]]

  preferredName          stringId
0          edin  7227.FBpp0074940
1          AttD  7227.FBpp0082908
2          DptA  7227.FBpp0085802
3          Vago  7227.FBpp0312036

In [12]:
string_ids = identifiers_df["stringId"].to_list()

You may now use these IDs in follow-up queries.

In [13]:
string_ids

['7227.FBpp0074940',
 '7227.FBpp0082908',
 '7227.FBpp0085802',
 '7227.FBpp0312036']

In [14]:
pd.DataFrame(stringx.network(string_ids, SPECIES))

,stringId_A,stringId_B,preferredName_A,preferredName_B,ncbiTaxonId,score,nscore,fscore,pscore,ascore,escore,dscore,tscore
0,7227.FBpp0074940,7227.FBpp0085802,edin,DptA,7227,0.518,0,0,0,0.273,0,0,0.365
1,7227.FBpp0074940,7227.FBpp0082908,edin,AttD,7227,0.817,0,0,0,0.626,0,0,0.533
2,7227.FBpp0082908,7227.FBpp0085802,AttD,DptA,7227,0.810,0,0,0,0.453,0,0,0.668